.container {
  padding: 4% 12%;
  background-color: #000000;
  color: #ffffff;
  height: 46em;
  p{
    font-size: 19px;
  }
}

.introheading{
  font-size: 5em;
  line-height: 1.2em;
  font-weight: 700;
}

